
<h1>Bio/h1>
<img src="/desktop/programs/blog/kevin.jpg">	
<p><a href="http://www.techtalentsouth.com/"</a></p>
<embed>
<br>src="http://www.youtube.com/watch?v=KoRtVIrikjc&feature=c4-overview-vl&list=PLrEnWoR732-DSnx2wJmKUi7EO37clJETx"</br>
</embed>