<body style="background-color:red;">
<h1>Contact</h1>
<img src="/desktop/programs/blog/kevin2.jpg">
<a href="mailto:nixonkevin@hotmail.com">Email me</a><br>
<p><a href="www.jolyetoi.com/"><b>Jolye Toi</b></a></p>
<p><a href="www.ajc.com/"><b>Atlanta Journal Constitution</b></a></p>
<p><a href="www.espn.com/"><b>ESPN</b></a></p>
<p><a href="www.gsu.edu/"><b>Georgia State</b></a></p>

