<body style="background-color:white;">

<h1 style="text-align:center;font-family:impact;color:black;">Welcome</h1>

<% if @first_name %>

<%= @first_name%>
<%= @last_name%>

<% else %>

  <form method="post">

     
   First name:<input type="text" name="firstname">
     
   Last name:   <input type="text" name="lastname">

      <button type="submit">Submit!</button>

      <input
      name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %> ()" />
<% end %>

<img src="https://31.media.tumblr.com/c2e2c4a54f3020c09467a40807d70aad/tumblr_n0lp69ES2w1qd3lqvo7_1280.jpg"alt="Kevin in Brooklyn."




</form>

