<body style="background-color:white;">

<h1 style="text-align:center;font-family:verdana;color:black;">Welcome New Visitor!!</h1>
<h4 style="text-align:center;font-family:verdana;color:black;">Kevin Nixon's website</h4>

<img src="desktop/programs/blog/app/welcome/kevin.jpg" alt="Kevin's trying too hard.  He knew that camera was there." width="104" height="142">
<ul>
  <li style="font-family:verdana;color:black;"><i>Technology</i></li>
  <li style="font-family:verdana;color:black;">Sports</li>
  <li style="font-family:verdana;color:black;">Travel</li>
</ul>

