
<h1>Bio</h1>
<img src="/app/assets/images/kevin1.jpg">	
<p><a href="http://www.techtalentsouth.com/">Tech Talent Website</a></p>
<p>They said this guy looks like my dad....</p>
<iframe width="420" height="315" src="//www.youtube.com/embed/RW6U_wQOGtM" frameborder="0" allowfullscreen></iframe>
<p>I had to learn the theme song even though its old ....</p>
<iframe width="420" height="315" src="//www.youtube.com/embed/upHWtPkuD5s" frameborder="0" allowfullscreen></iframe>