
<h1>Bio</h1>
<img src="https://31.media.tumblr.com/15028b22023a85600afd3ac5b90fe468/tumblr_n0lp69ES2w1qd3lqvo2_1280.jpg" alt="Kevin's trying too hard.  He knew that camera was there." width="104" height="142">	
<p><a href="http://www.techtalentsouth.com/">Tech Talent Website</a></p>
<p>I had to learn the theme song even though its old ....</p>
<iframe width="420" height="315" src="//www.youtube.com/embed/upHWtPkuD5s" frameborder="0" allowfullscreen></iframe>